@import "../../App.scss";

.main {
  background: linear-gradient(143.34deg, #93e5f8 11.15%, #6699ff 99.66%);
  color: white;
  padding: 60px 0;
}

.heading {
  font-size: 36px;
  margin-bottom: 60px;
  & > span {
    color: #ff6b3f;
  }
}

.info {
  display: flex;
  margin-bottom: 40px;
}

.infoBox {
  border: 1px solid #000;
  height: 116px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submissionForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
  & > input {
    border: none;
    height: 44px;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.6);
    &::placeholder > {
      font-size: 40px;
    }
  }
  & > button {
    color: white;
    font-size: 22px;
    font-weight: 650;
    border: none;
    background: #f96d86;
    cursor: pointer;
    border-radius: 3px;
  }
}

.consent {
  font-size: 13px;
  width: 60%;
  & > span {
    text-decoration: underline;
  }
}
